  //Full scren background
$backgroundImg: "../images/img_2567.jpg";

  //jumbotron background
$jumboBckgrnd: "../images/moon-and-clouds.jpg";

.Clouds-img {
  background-image: url(../images/clouds.gif);
  min-height: 200px;
}
