<h1>16-day Forecast for {{forecastData.city.name}} {{forecastData.city.country}}</h1>


<div ng-repeat="current in forecastData.list|limitTo:1" class="container weather-forecast">
        <div class="col-sm-6">
          <h3>Current Weather</h3>
          <img ng-src= 'http://openweathermap.org/img/w/{{current.weather[0].icon}}.png' style="width:80px">
        </div>
        <div class"col-sm-6">
          <h3>
            <p>{{current.weather[0].main}} at {{current.temp.day}} &deg;F</p>
            <p>Wind is {{current.speed}} mph</p>
            <p>Humidity is at {{current.humidity}}%</p>
          </h3>
        </div>
</div>
<div class="container" style="height:80px">
</div>

<div class="container">
  <dl ng-repeat="prediction in forecastData.list" ng-hide="$first" class="weather-forecast col-sm-6 col-lg-4 clearfix">
        <dt>Forecast for {{prediction.dt*1000 | date:'MMM dd, yyyy'}}</dt>
        <dd><img ng-src= 'http://openweathermap.org/img/w/{{prediction.weather[0].icon}}.png' style="width:80px;"><em>{{prediction.weather[0].main}}</em></dd>
        <dd>Forecast includes {{prediction.weather[0].description}}.</dd>
        <dt>Temperature</dt>
        <dd>Min: {{prediction.temp.min}} &deg;F Max: {{prediction.temp.max}} &deg;F</dd>
  </dl>
</div>

  <p class="col-xs-12"><a ng-href="#/current/{{cityID}}" class="btn btn-lg btn-primary">Back to Current Weather</a></p>
